#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.app-grid {
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: 
    "header"
    "nav"
    "articles-list";
  min-height: 100vh;
}

.header {
  grid-area: header;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
}

.header > a {
  text-decoration: none; /* Remove underline */
  width: inherit;
  height: inherit;
}

#title {
  display: inline-block;
  vertical-align: middle;
  font-size: 3.2em;
  line-height: 1.1;
}

#home-icon {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  padding-left: 0.5em;
  max-height: 250px;
  max-width: 250px;
}

.nav {
  grid-area: nav;
  width: 100%;
  border: 3px solid black;
  border-radius: 20px;
}
.nav li {
  display: inline-block;
  padding: 20px
}

.articles-list {
  grid-area: articles-list;
  width: 100%;
  padding: 0
}

.article-card {
  border: 3px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  background-color: gainsboro;
}

.comment-card {
  border: 3px solid black;
  background-color: blanchedalmond;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;

}

#loading-icon {
  width: 100px;
  height: auto;
}

.sortby {
  display: inline-flex;
}

.dropdown {
  display: inline-block;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  height: 2rem;
}

#asc-icon {
  width: 1.2em;
  height: auto;
}

#desc-icon {
  width: 1.2em;
  height: auto;
}

#like-icon {
  width: 1.5em;
  height: auto;
}

#comment-icon {
  width: 1.5em;
  height: auto;
}

#article-card-time {
  font-weight: lighter;
}